// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// madUp
$BACKGROUND: #f6f7f8;
$MAINCOLOR: #3a474e;
$SUBCOLOR: #94a2ad;
$GREY50: #edeff1;
$GREY100: #d1d8dc;
$PRIMARY: #586cf5;
$SECONDARY: #e5f4fd;
$LINK_ACTIVE: #586cf5;

// line chart color
$LINE1: #4fadf7;
$LINE2: #85da47;

$GRAPH_01: #4fadf7;
$GRAPH_02: #85da47;
$GRAPH_03: #ac8af8;
$GRAPH_04: #f8d849;

$COLOR_SKELETON: $GRAYA;
