@use '/src/styles/constants/colors';

.content {
  height: 1210px;
  padding-top: 25px;
  margin: 0 41px 0 40px;
  background: colors.$BACKGROUND;
  border-top: 1px solid colors.$GREY50;

  .title {
    font-size: 26px;
    font-weight: 900;
  }
}
