@use '/src/styles/constants/colors';

.container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin-left: 320px;
}

.totalAdStatusTitle {
  // align-self: flex-start;
  padding: 0 auto;
  margin: 20px 0;
}

.content {
  width: 1040px;
  height: 780px;
  padding: 20px 40px 40px;
  // margin: auto;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 40%);
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.chartContainer {
  min-width: 1000px;
  height: 400px;
}

.selectCategoryContainer {
  display: flex;
  margin: 42px 0 40px;

  div:nth-child(2) {
    margin-left: 10px;

    button {
      &::after {
        background-color: colors.$LINE2;
      }
    }
  }

  div:last-child {
    margin-left: auto;

    button {
      justify-content: end;
      padding: 0;
      border: none;

      &::after {
        display: none;
      }

      svg {
        margin-right: 15px;
        margin-left: 16px;
      }
    }
  }
}
