@use '/src/styles/constants/colors';

.mediaContainer {
  width: 1040px;
  height: 718px;
  margin-left: 320px;

  .mediaTitle {
    height: 50px;
    margin-top: 24px;
    margin-left: 12px;
  }

  .mediaContent {
    padding: 40px;
    margin: 0 auto;
    background: colors.$WHITE;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 40%);
  }
}
